{{ define "main" }}

{{ partial "page-header" . }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6" "Size" "400x300") }}
          <h2 class="h3 mb-6">{{ .Title }}</h2>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>

  {{/*  <section class="section pt-2">
    <div class="flex justify-center p-4 flex-col items-center text-center">
      <h3>Meet The Team</h3>
    </div>
    <div class="container">
      <div class="row">
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/team-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>  */}}
{{ end }}
